<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog" />
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information" />
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <connectionStrings>

    <!--Server=tcp:ccgdbserver.database.windows.net,1433;Initial Catalog=CCGData;Persist Security Info=False;User ID={your_username};Password={your_password};MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;-->
    <!--<add name="CCGDataEntities" connectionString="metadata=res://*/Data.CCGDataEntities.csdl|res://*/Data.CCGDataEntities.ssdl|res://*/Data.CCGDataEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ccgdbserver.database.windows.net;initial catalog=CCGData;persist security info=True;user id=bniasoff;password=CCG123!b;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="CCGDataEntities" connectionString="metadata=res://*/Data.CCGDataEntities.csdl|res://*/Data.CCGDataEntities.ssdl|res://*/Data.CCGDataEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=NIASOFF-DESKTOP\SQLSERVER2017;initial catalog=CCGData2;Integrated Security=True;Connect Timeout=30;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="CCGDataEntities" connectionString="metadata=res://*/Data.CCGDataEntities.csdl|res://*/Data.CCGDataEntities.ssdl|res://*/Data.CCGDataEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CCG-009\CCGDATASERVER;initial catalog=CCGData2;user id=SA;password=CCG123;Connect Timeout=30;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->
    <add name="CCGDataEntities" connectionString="metadata=res://*/Data.CCGDataEntities.csdl|res://*/Data.CCGDataEntities.ssdl|res://*/Data.CCGDataEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ccgdbserver.database.windows.net;initial catalog=CCGData2;persist security info=True;user id=bniasoff;password=CCG123!b;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />

    <!--<add name="CCGDataEntities" connectionString="metadata=res://*/Data.CCGDataEntities.csdl|res://*/Data.CCGDataEntities.ssdl|res://*/Data.CCGDataEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=NIASOFF-DESKTOP\SQLSERVER2017;initial catalog=CCGData2;Integrated Security=True;Connect Timeout=30;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

    <!--<add name="IdentityEntities" connectionString="metadata=res://*/Data.Identity.csdl|res://*/Data.Identity.ssdl|res://*/Data.Identity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CCG-009\CCGDATASERVER;initial catalog=ASPNetIdentity;user id=sa;password=CCG123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
